:root {
  /* Colors */
  --main-color: palegreen;
  --main-color-accent: ;
  --main-background: #fafafa;

  --main-background-dark: #282c35;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: var(--main-background);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  transition: all 300ms ease 200ms;
}
section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem 5rem 1.5rem;
  letter-spacing: 1.5px;
  transition: all 300ms ease 200ms;
}
section h1 {
  font-size: 3rem;
  font-weight: 400;
}

section h2,
h3,
h4 {
  font-size: 2rem;
  font-weight: 350;
}

nav {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}
nav section {
  width: 100%;
  background: #fafafa;
}

section {
  display: flex;
  padding: 1rem;
  justify-content: center;
}
nav {
  max-width: 750px;
}

p {
  color: var(--main-background-dark);
  font-size: 1.3rem;
  letter-spacing: 0.1px;
}

.form {
  display: flex;
  justify-content: center;
  width: 600px;
}

.view-heading {
  display: flex;
  justify-content: center;
}

.create-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}

.create-heading {
  width: 200px;
  text-align: center;
  background: palegreen;
  border-radius: 4px;
  transform: rotate(-1deg);
}
.create-heading-root {
  width: 200px;
  text-align: center;
  background: palevioletred;
  border-radius: 4px;
  transform: rotate(1deg);
}
.create-heading-file {
  width: 200px;
  text-align: center;
  background: paleturquoise;
  border-radius: 4px;
  transform: rotate(1deg);
}

.input {
  padding: 1rem;
}

button {
  padding: 1rem;
  margin: 1rem;
  color: #111;

  background: palegreen;
  border-radius: 4px;
  border: none;
}
button:hover,
button:active {
  background: greenyellow;
}
button.file {
  background: palevioletred;
}
button.document {
  background: palegoldenrod;
}
button.document:hover {
  background: rgb(245, 241, 191);
}

button.file:hover {
  background: #d87050;
}
ul {
  padding: 1rem;
}
li {
  list-style: lower-greek;
}
input[type="text"] {
  color: #111;
  font-size: 1rem;
  border-radius: 4px;
  padding: 5px;
}
.radio {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(#ffffff, palevioletred);
}

.breadcrumbs li {
  list-style-type: none;
  background: transparent;
}
