*,
html {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1rem;
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  background: palegoldenrod;
}
h2,
h3 {
  padding: 1rem 0 1rem 0;
  font-size: 1.5rem;
}

.create-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}

.create-heading {
  width: 200px;
  text-align: center;
  background: palegreen;
  border-radius: 4px;
  transform: rotate(-1deg);
}

.input {
  padding: 1rem;
}

button {
  padding: 1rem;
  margin: 1rem;
  color: #111;

  background: palegreen;
  border-radius: 4px;
  border: none;
}
button:hover,
button:active {
  background: greenyellow;
}
button.file {
  background: palevioletred;
}
button.document {
  background: palegoldenrod;
}
button.document:hover {
  background: rgb(245, 241, 191);
}

button.file:hover {
  background: #d87050;
}
ul {
  padding: 1rem;
}
li {
  list-style: lower-greek;
}
input[type="text"] {
  color: #111;
  font-size: 1rem;
  border-radius: 4px;
  padding: 5px;
}
.radio {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(palegoldenrod, palevioletred);
}

.breadcrumbs li {
  list-style-type: none;
}
